@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    @apply bg-ms-dark text-slate-100 min-h-screen overflow-x-hidden;
    font-family: 'JetBrains Mono', monospace;
    font-feature-settings: "tnum";
  }
}

@layer components {
  .ms-button-primary {
    @apply py-5 bg-ms-emerald hover:bg-emerald-500 text-black font-black uppercase text-sm tracking-widest transition-all rounded-sm shadow-lg shadow-emerald-500/10 text-center;
  }
}